body{
  background-color:rgb(246, 165, 206);
}
p{
  font-size: large;
}
h1{
    font-size: 300%; 
    font-family: veradana; 
    font-style: italic;
    text-align: center;
    color: blueviolet;
}
h2{
    text-align: center;
    color:rgb(144, 36, 36);
}   
div.container {
  text-align:right;
}
ul.myUL {
  display: inline-block;
  text-align: left;
} 
/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 23%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #04AA6D;
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }
.cart-container{
  position: top,right;
  height: 30px;
  width: 30px;
}
  .link{
    position:fixed;
    top: 0;
    right: 0;
  }